.AddUser {
    margin: .5rem auto;
    padding: .5rem;
    width: 90%;
    max-width: 40rem;
  }
  
  .AddUser label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: blue;
  }
  
  .AddUser .float_left {
    display: inline-block;
    font-weight: bold;
    margin-left: 1rem;
    color: green;
  }

  .AddUser label:hover {
    color: blueviolet;
  }

.AddUser input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;

  }
  
.AddUser input:focus {
    outline: none;
    border-color: #4f005f;
    background-color:thistle;
  }
  
